<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC8SHLEMuT8RDKeN4s4_A8cmyQI-cfohTE</string>
	<key>GCM_SENDER_ID</key>
	<string>830680896073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.PetLife</string>
	<key>PROJECT_ID</key>
	<string>petlife-227ea</string>
	<key>STORAGE_BUCKET</key>
	<string>petlife-227ea.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:830680896073:ios:20293ae369fd79082c6598</string>
</dict>
</plist>